<%- include('_head') %> <%- include('_sidebar') %>

<div class="container">
  <div class="dashboard">
    <%- include('_dashboard-top') %>
    <!------------------ DASHBOARD TOP END ---------------------->

    <div class="issue-list">
      <!-- TODO TODO TODO -->
      <ul>
        <%- include('_tickets') %>
        <!------------------  ---------------------->
        <!-- <li class="issue">
          <div class="date">03-Mar '22</div>
          <div class="item">
            <span class="material-symbols-outlined priority">
              signal_cellular_4_bar
            </span>
            <button class="status-btn">
              <span class="material-symbols-outlined status unchecked">
                radio_button_unchecked
              </span>
            </button>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi.
              </p>
            </div>
          </div>
        </li> -->
        <!------------------  ---------------------->
        <!-- <li class="issue">
          <div class="date">27-Apr '22</div>
          <div class="item">
            <span class="material-symbols-outlined priority">
              signal_cellular_3_bar
            </span>
            <button class="status-btn">
              <span class="material-symbols-outlined status unchecked">
                radio_button_unchecked
              </span>
            </button>
            <div class="description">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </li> -->
        <!------------------  ---------------------->
        <!-- <li class="issue">
          <div class="date">16-Mar '22</div>
          <div class="item">
            <span></span>
            <button class="status-btn">
              <span class="material-symbols-outlined status check">
                check_circle
              </span>
            </button>
            <div class="description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Tempora sit magni molestias deleniti, repellat nesciunt,
                consequatur numquam accusamus tenetur autem, aut aperiam minima
                rerum vitae corrupti modi sed!
              </p>
            </div>
          </div>
        </li> -->
        <!------------------  ---------------------->
        <!-- <li class="issue">
          <div class="date">13-May '22</div>
          <div class="item">
            <span></span>
            <button class="status-btn">
              <span class="material-symbols-outlined status cancel">
                cancel
              </span>
            </button>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Molestiae quod laudantium aperiam officia repellat.
              </p>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
    <!------------------ ISSUE LIST END ---------------------->
  </div>
</div>
<!------------------ DASHBOARD END ---------------------->

<%- include('_footer') %>
